table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 98%;
    margin-bottom: 0.7em; 
    margin-left: 0.7 em;
    margin-left: 0.7em;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #dddddd;
  }
  .img{
    max-width:4em;
    max-height:4em;
  }
 