.contenedor{
    width: 100%;
    display: flex;
    margin-right: 20px;
}
.fixed{
    width: 55%;
}
.flex-item{
    width: 100%;
    margin: 70px;
    border:1px solid rgb(172, 162, 162);
    flex-grow: 1;
}
  